# Ignore Xcode stuff:
build/*
RainingCubes.xcodeproj/project.xcworkspace/xcuserdata
RainingCubes.xcodeproj/xcuserdata

# Ignore Finder stuff:
.DS_Store
profile

# Ignore leftovers from other SCM systems:
CVS
.svn
